:host {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
      linear-gradient(45deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
      linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
    background-size: 30px 30px;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  mat-card {
    width: 300px;
    border: 2px solid #164a41;
  }
  
  .heading {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #164a41;
  }
  
  button {
    margin: 10px;
    width: 50%;
    padding: 10px; 
    font-size: 16px; 
    background-color: #164a41 !important;
  }

  .disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
}
