<div class="m-5">
       
</div>

<div class="container">
   
        <form  [formGroup]="addInfoForm">  
            <div class="row">
            <div class="col-md-5 form-group">
                <input type="email" formControlName="value" class="form-control" placeholder="search ppt">
            </div>

            <div class="col-md-2 form-group">
                <button (click)="search()"  class="btn btn-primary" type="submit">Search</button>
            </div>
            <div class="col-md-3 form-group">
                <button (click)="onMergeClick()" type="button" class="btn btn-primary">Download Merged PPT</button>
            </div>
            </div>             
        </form>  
       
</div>


<div class="row"  *ngFor="let mode of metadataList"  >
    <div class="col-6" >
        <iframe [src]="getslideView(mode)" width="600px" height="400px" frameborder="0"></iframe>
    </div>
    <div class="col-4">

        <div class="card" >
            <div class="card-body">
              <h5 class="card-title"> <span class="under">Title:</span> {{mode.metaDataOfSlide}}</h5>
              <h6 class="card-subtitle mb-2 text-muted"> <span class="under" >Keywords:</span> {{mode.keyWords}}</h6>
              <p class="card-text"><span class="under" >Note:</span> {{mode.notes}}</p>
            </div>
          </div>

    </div>
    <div class="col-2" >
        <button (click)="mergeSlides(mode)"  type="button" class="btn btn-primary">Add Slide</button>
    </div>
</div>







