<div class="container p-2">
    <!-- <mat-dialog-content class="mat-typography"> -->
      <form>
        <div class="form-group mb-3 col-md-6">
          <label for="formFile" class="form-label">Upload File</label>
          <input class="form-control upload-file" type="file" id="formFile" (change)="uploadFile($event)" >  
        </div>  
        <div class="form-group">
          <button mat-raised-button color="primary" (click)="SubmitFile()">Submit</button>
        </div> 

      </form>        
  <!-- </mat-dialog-content> -->
  </div>
