<div class="feedback-container">
    <h2>Could you please fill these details?</h2>
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="SlideTitle">Title</label>
        <input type="text" id="SlideTitle" formControlName="SlideTitle" class="form-control">
      </div>
      <div class="form-group">
        <label for="UsagePurposeType">Purpose</label>
        <select id="UsagePurposeType" formControlName="UsagePurposeType" class="form-control">
          <option *ngFor="let value of purposeValues" [value]="value">
            {{ value }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit Feedback</button>&nbsp;
      &nbsp;<button (click)="onHomeClick()" type="button" class="btn btn-primary">Home</button>
    </form>
  </div>
  