     <h2>metaData</h2> 
      <!-- <iframe src="
https://docs.google.com/gview?url=https://pptstoredbucket.s3.ap-south-1.amazonaws.com/splittedPresentationSlides/SplittedSlide_20240621201934.pptx?X-Amz-Expires=518400&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAW7VOIVLUU4AOUGTI%2F20240621%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240621T201936Z&X-Amz-SignedHeaders=host&X-Amz-Signature=4a2283ffd40c489c09781e85982af4ca63ccf9737c936b825027be369849324c
&embedded=true"
width="100%" height="600px" frameborder="0"></iframe> -->

<!-- <iframe [src]="iframeURL" width="1080" height="400"></iframe> -->

<div class="row">
    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <iframe [src]="safeUrl" width="80%" height="600px" frameborder="0"></iframe>
              </div>
            </div>
            <button (click)="prev()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button (click)="update()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span  class="visually-hidden">Next</span>
            </button>
          </div> 
    </div>
<div class="col-6">
    <form  [formGroup]="addInfoForm">   

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input formControlName="title" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">KeyWords</label>
          <input formControlName="keywords" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Notes</label>
            <input formControlName="note" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
 
    </form>  
    <button  (click)="dataAdd(pramod)"  class="btn btn-primary" >Submit</button>    
</div>
</div>








