.under{
    text-decoration: underline #5C2FC2;
}
.wrapper-page{
    margin-right: 0 5px;
}
.division-button.col-md-4.col-sm-6{
    position: absolute;
    text-align: end;
    justify-self:end;
    align-items: end;
}