<mat-toolbar color="primary" class="d-flex justify-content-center">
  <span>PPT Builder</span>
</mat-toolbar>
<div class="d-flex justify-content-center">
  <button mat-raised-button color="primary" (click)="onSplitPPT()">Split PPT</button>&nbsp;&nbsp;&nbsp;
  &nbsp;<button mat-raised-button color="primary" (click)="onMergePPT()">Merge PPT</button>&nbsp;&nbsp;&nbsp;
  &nbsp;<button mat-raised-button color="primary" (click)="onSearch()">Search Slide</button>&nbsp;&nbsp;&nbsp;
  &nbsp;<button mat-raised-button color="warn" (click)="onLogOutclick()">Logout</button>
</div>

  