<div class="wrapper page">
  <div class="container bg-white br-2 p-3">
      <div class="row header-padding">
          <div class="col-md-9 col-sm-6"><h4 class="text-black mt-2">Metadata for Uploaded File</h4></div>
          <div class="col-md-3 col-sm-6 button-right">
          
          </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <iframe [src]="safeUrl" class="d-block w-100" alt="First slide"
                style="height: 400px; width: 800px;"></iframe>
                <div class="slide-number">1</div>
              </div>
            </div>
              <button (click)="prev()" class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button (click)="update()" class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <form>
            <p>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label >Title</mat-label>
                <input matInput placeholder="title">
            </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Keywords</mat-label>
                  <textarea matInput placeholder="keywords"></textarea>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline" class="full-width">
                  <mat-label>note</mat-label>
                  <textarea matInput placeholder="Notes"></textarea>
              </mat-form-field>
            </p>
          </form>
          <div class="row text-center mt-2">
            <div class="col-lg-6">
              <mat-checkbox>Count</mat-checkbox>
            </div>
            <!-- <div class="col-lg-6">
              <mat-checkbox>Rating</mat-checkbox>
              <mat-icon>star</mat-icon>
            </div> -->
            <!-- <div class="rating">
              <span *ngFor="let star of stars; index as i" (click)="rate(i + 1)">
                <mat-icon>{{ i < rating ? 'star' : 'star_border' }}</mat-icon>
              </span>
            </div> -->
            <div class="rating-container">
              <div class="rating">
                <span *ngFor="let star of stars; index as i" (click)="rate(i + 1)">
                  <mat-icon>{{ i < rating ? 'star' : 'star_border' }}</mat-icon>
                </span>
              </div>
              <div class="submit-rating">
                <button mat-raised-button color="primary" (click)="submitRating()">Submit Rating</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <button (click)="dataAdd(pramod)" mat-raised-button type="submit" class="savebtn">Save</button>
      </div>
   
    
  </div>
</div>







