<div class="container">
    <mat-card>
      <mat-card-header class="heading">
        <mat-card-title>Forgot Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="text-center">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="email">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="sendResetPasswordEmail()">Send OTP</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  