<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="text-center mb-4">
                <img src="assets/PPT-BUILDER-LOGO-v2.png" alt="PPT Builder Logo" class="img-fluid" style="max-width: 150px;">
              </div>
              <!-- verify Email -->
              <div *ngIf="showVerifyEmailForm">
                <h3 class="login-heading mb-4"><strong>Verify Email</strong></h3>
                <form [formGroup]="verifyEmailForm" (ngSubmit)="onVerifyEmail()">
                  <div class="form-group mb-3">
                    <label class="form-control-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" name="email"
                      [ngClass]="{'is-invalid':(submitted && g['email'].errors) ||(g['email'].errors && g['email'].touched) }">
                    <div *ngIf="(submitted && g['email'].errors) ||(g['email'].errors && g['email'].touched)"
                      class="invalid-feedback">
                      <div *ngIf="g['email'].errors['required']">
                        Email is required
                      </div>
                      <div *ngIf="g['email'].errors['pattern']">Email domain should be ecanarys.com</div>
                    </div>
                  </div>
            
                  <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold bg-primary-delivery mb-2" type="submit">
                      <div class="spinner-border" role="status" style="font-size: 10px; width: 15px; height: 15px"
                        *ngIf="buttonText == 'Verifying Email Please Wait!'">
                        <span class="sr-only">Loading...</span>
                      </div>
                      {{buttonText}}
                    </button>
                  </div>
                </form>
                <p>Already have an account? 
                  <a class="small" href="login">Login</a>
                </p>
              </div>

              <!-- otp verify form -->
              <div *ngIf="showOTPVerifyForm">
                <h3 class="login-heading mb-4"><strong>Verify OTP</strong></h3>
                <form [formGroup]="OTPVerifyForm" (ngSubmit)="onOTPVerifySubmit()">
                  <div class="form-group mb-3">
                    <label class="form-control-label">Email</label>
                    <input type="text" class="form-control disabled" formControlName="email" name="email" readonly>
                  </div>
            
                  <div class="form-group mb-3">
                    <label class="form-control-label">OTP</label>
                    <input type="text" class="form-control" formControlName="otp" name="otp"
                      [ngClass]="{'is-invalid':(submitted && h['otp'].errors) ||(h['otp'].errors && h['otp'].touched) }">
                    <div *ngIf="(submitted && h['otp'].errors) ||(h['otp'].errors && h['otp'].touched)" class="invalid-feedback">
                      <div *ngIf="h['otp'].errors['required']">
                        OTP is required
                      </div>
            
                    </div>
                  </div>
            
                  <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold bg-primary-delivery mb-2" type="submit">
                      <div class="spinner-border" role="status" style="font-size: 10px; width: 15px; height: 15px"
                        *ngIf="buttonText == 'Verifying OTP Please Wait!'">
                        <span class="sr-only">Loading...</span>
                      </div>
                      {{buttonText}}
                    </button>
                  </div>
                </form>
                <p>Already have an account? 
                  <a class="small" href="login">Login</a>
                </p>
              </div>
              <!-- reset password form -->
              <div *ngIf="showResetPasswordForm">
                <h3 class="login-heading mb-4"><strong>Reset Password</strong></h3>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                  <div class="form-group mb-3">
                    <label class="form-control-label">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" name="newPassword"
                      [ngClass]="{'is-invalid':(submitted && i['newPassword'].errors) ||(i['newPassword'].errors && i['newPassword'].touched) }">
                    <div *ngIf="(submitted && i['newPassword'].errors) ||(i['newPassword'].errors && i['newPassword'].touched)"
                      class="invalid-feedback">
                      <div *ngIf="i['newPassword'].errors['required']">Password is required</div>
                      <div *ngIf="i['newPassword'].errors['minlength']">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label class="form-control-label">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword"
                      [ngClass]="{'is-invalid':(submitted && i['confirmPassword'].errors) ||(i['confirmPassword'].errors && i['confirmPassword'].touched) }">
                    <div *ngIf="(submitted && i['confirmPassword'].errors) ||(i['confirmPassword'].errors && i['confirmPassword'].touched)"
                      class="invalid-feedback">
                      <div *ngIf="i['confirmPassword'].errors['required']">Confirm Password is required</div>
                      <div *ngIf="i['confirmPassword'].errors['mustMatch']">Passwords must match</div>
                    </div>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold bg-primary-delivery mb-2" type="submit">
                      <div class="spinner-border" role="status" style="font-size: 10px; width: 15px; height: 15px"
                        *ngIf="buttonText == 'Resetting Password Please Wait!'">
                        <span class="sr-only">Loading...</span>
                      </div>
                      {{buttonText}}
                    </button>
                  </div>
                </form>
                <p>Login with the new password 
                  <a class="small" href="login">Login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>